page-home {

}

ion-content{
    background-image: url("../../assets/imgs/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    
    
}


.tit-pelicula{color: rgb(177, 16, 16);}


